.arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: $primary-blue;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 80ms ease-in-out;
  margin: 0 auto;

  &:hover {
    border-bottom-width: 3px;
    border-right-width: 3px;
  }
}
