.pill{
  font-size: 1.25rem;
  display: inline-block;
  margin-bottom: 5px;
  border-radius: 50px;
  padding: 0;
  width: 120px;
  height: 20px;
  text-align: center;
  line-height: 22px;
  opacity: .5;
  cursor: default;

  &:hover{
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .pill{
    opacity: 1;
  }
}

.pill-1{
  background: $pill-1;
  color: $primary-white;
}

.pill-2{
  background: $pill-2;
}
.pill-3{
  background: $pill-3;
  color: $primary-white;
}
.pill-4{
  background: $pill-4;
}
