$primary-white: #fff;
$primary-red: #2b2b2b;
$primary-blue:#1fc8db;
$secondary-blue:#2cb5e8;

$pill-1:#1983ab;
$pill-2:#5dedfe;
$pill-3:#5cabc8;
$pill-4:#1fc8db;

@font-face {
  font-family: "Gravity";
  src: url('font/Gravity-Light.otf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
